<tr>
          <td style="font-size:0!important;line-height:100%;background-color:<%= vars.bgColor %>;padding-bottom:16px;" align="center">
            <table role="presentation" align="center" width="184" cellspacing="0" cellpadding="0" border="0">
              <tbody>
                <tr>
                  <td style="font-size:0!important;line-height:100%;padding-top:16px;border-bottom:4px solid <%= vars.lineBorderColor %>;">&nbsp; </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>