<tr>
          <td style="font-size:0!important;line-height:100%;background-color:<%= vars.bgColor %>;padding-top:32px;padding-bottom:24px;padding-left:48px;padding-right:48px;" align="center">
            <a href="#" style="display:inline-block;transition:.15s ease-in;"><img src="assets/logo.svg" width="58" height="58" alt="Moedzee" style="max-width:58px;-ms-interpolation-mode:bicubic;display:block;border:0;line-height:100%;height:auto;" /></a>
          </td>
        </tr>