<tr>
  <td style="font-size:0!important;line-height:100%;background-color:<%= vars.bgColor %>;display:none;max-height:0;width:0;overflow:hidden;mso-hide:all;visibility:hidden;">
    <div><%= preheaderText %></div>
    <div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
  </td>
</tr>